nav {
    padding: 0px 1rem;
}
.timerBtn{
    margin-left: 25px;
}

.content{
    min-height: calc(100vh - 134px);
    
    padding: 1.5rem 0;
}

.posters{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.search-btn{
    position: absolute;
    top: 0;
    right: 1rem;
}

.input{
    border: 5px solid black
}
.green{
    border: 5px solid green;
}
.red{
    border: 5px solid red;
}
